body{
  border-top: 2px solid rgba(80, 210, 149, 0.591);
  padding-top: 1rem;
  background-color: rgb(240, 240, 240);

}

body::-webkit-scrollbar {
  display: none;
}

.app-container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.select-date{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  text-align: center;
}

.modify-date{
  cursor: pointer;
  border: 1px solid #ddd;
  font-weight: bolder;
  color: #ddd;
  background-color: white;
  border-radius: 15%;
}

.info-date{
  margin: 0 1rem 0 1rem;
  color: rgb(150, 150, 150);
  font-weight: bolder;
}