.calendar-container{
    margin: 0 1rem 0 1rem;
    align-items: center;
}

.calendar-header {
    width: 100%;
    display: flex;
    padding-right: .2rem;
}

.calendar-header div {
    flex-direction: row;
    width: 14.338%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: rgb(133, 133, 133);
    padding: .5em 0;
    margin-top: 1em;
}

.event {
    color: black;
    padding: 0.2em;
    font-size: 70%;
    cursor: pointer;
}

.empty{
    color: rgb(179, 179, 179);
    padding: 0.25em;
    font-size: 70%;
    height: 80%;
    font-weight: lighter;
}

.calendar-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calendar-individual-day{
    flex: 1 1 14.349%;
    max-width: 14.349%;
    height: 7em;
    border: 2px solid #ddd;
    margin-left: -1px;
    margin-bottom: -1px;
    padding: .5em .5em 0 .5em;
    background-color: white;
    font-weight: bolder;
    color: rgb(130, 130, 130);
}

.no-day{
    flex: 1 1 14.349%;
    max-width: 14.349%;
    height: 7em;
    border: 2px solid #ddd;
    margin-left: -1px;
    margin-bottom: -1px;
    padding: .5em;
    background-color: rgb(238, 238, 238);
    font-weight: bolder;
    color: rgb(130, 130, 130);
}

.data-container{
    font-size: 70%;
    height: 75%;
}

.number-container{
    text-align: end;
}

.button-container{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.save-button{
    align-self: center;
    width: 20%;
    height: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    background-color: rgb(80, 210, 149);
}

.custom-cm {
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 8rem;
    border-radius: 1rem;
    position: absolute;
    font-size: 80%;
}


.custom-cm div{
    cursor: pointer;
    padding: 8px 15px;
}

.custom-cm div:hover{
    background-color: #f8f8f8;
}