.main-container{
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    max-height: min-content;
}

.sidebar-search-title{
    color: rgb(132, 132, 132);
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
}